[submodule "resources/public/css/loaders.css"]
	path = resources/public/css/loaders.css
	url = https://github.com/ConnorAtherton/loaders.css.git
[submodule "server"]
	path = server
	url = https://github.com/chr15m/pellet.git
